.backtesting {
  &__content {
    .row {
      h2 {
        font-size: clamp(1rem, 2vw, 2rem);
        text-align: center;
      }
      .action-box {
        display: flex;
        gap: 2rem;
        margin: 3rem 0;
        button {
          height: 60px;
          max-width: 250px;
        }
      }
    }
  }
}
